<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.oracle.javacard.jcdk.launch.runconfiguration.jcAppletRun">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Applet"/>
    <stringAttribute key="run_commands_list" value="Connect;"/>
</launchConfiguration>
