<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/homeWorkClient/src/com/oracle/javacard/sample/AMSMyApplet.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <listAttribute key="org.eclipse.eclemma.core.SCOPE_IDS">
        <listEntry value="=homeWorkClient/src"/>
        <listEntry value="=homeWorkClient/C:\/JC_HOME_SIMULATOR\/java_card_devkit_simulator-win-bin-v24.0-b_55-20-FEB-2024\/client\/AMService\/amservice.jar=/module=/true=/"/>
        <listEntry value="=homeWorkClient/C:\/JC_HOME_SIMULATOR\/java_card_devkit_simulator-win-bin-v24.0-b_55-20-FEB-2024\/client\/COMService\/extension.jar=/module=/true=/"/>
        <listEntry value="=homeWorkClient/C:\/JC_HOME_SIMULATOR\/java_card_devkit_simulator-win-bin-v24.0-b_55-20-FEB-2024\/client\/COMService\/socketprovider.jar=/module=/true=/"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.oracle.javacard.sample.AMSMyApplet"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="homeWorkClient"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-cap=D:\testApplet\homeWordApplet\deliverables\homeWordApplet\com\example\myapplet\javacard\myapplet.cap&#13;&#10;-props=D:\testApplet\client.config.properties"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="homeWorkClient"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--add-modules ALL-MODULE-PATH"/>
</launchConfiguration>
